.link-button {
  display: inline-block;
  margin: 0px;
  margin-top: 20px;

  padding: 6px 14px;
  background-color: lightgrey;
  color: white;
  text-decoration: none;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid black;
  transition: background-color 0.5s ease;
}

.link-button:hover {
  background-color: white;
  text-decoration: underline;
  color: black;
  text-decoration: none;
}

.link-button:focus {
  outline: none;
  box-shadow: 0 0 4px #007bff;
}
/*.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}*/

.btn-approve {
  background-color: white;
  color: #28a745;
  font-size: 16px;
  font-weight: bolder;
  padding:0 10px !important;
}

.btn-approve:hover {
  transform: scale(1.25);
  color: #28a745 !important;
  padding:0 10px !important;
  //box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-reject {
  background-color: white;
  color: #dc3545;
  font-size: 16px;
  font-weight: bolder;
  padding:0 10px !important;
}

.btn-reject:hover {
  transform: scale(1.25);
  color: #dc3545 !important;
  padding:0 10px !important;
  //box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-inline {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.btn:active {
  columns: red;
}
.btn-edit:hover {
  transform: scale(1.25);
}
