.formdiv {
  margin: 0;
  padding: 10px;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 0 15px #ccc;
  background-color: white;
  flex-shrink: 0; /* Empêche la réduction de la taille de sideMenu */
}
.employeeResume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}
.fixedSize200 {
  width: 200px;
}
.onsite {
  background-color: var(--onsite-color);
  color: black;
}
.remote {
  background-color: var(--remote-color);
  color: white;
}
.holiday {
  background-color: var(--holiday-color);
  color: white;
}
.sick {
  background-color: var(--sick-color);
  color: white;
}
.fullwidth {
  width: 100% !important;
}
.flexinline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.flexinlineleft {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  justify-content: space-between;
}
.flexincolleft {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.autoflexinline {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:20px;
}
