// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "page_content";
@import "formdiv";
@import "filter_button";
@import "buttons";
@import "employee";
@import "table";
@import "modaleEvent";
@import "expenses";
@import "chat";
@import "quote";
@import "quote_pdf";

:root {
  --onsite-color: #FEF9F2; /* Couleur principale */
  --remote-color: #789DBC; /* Couleur secondaire */
  --holiday-color: #7fcb95; /* Couleur de fond */
  --sick-color: #FFE3E3; /* Couleur du texte */
}
