html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e6ecf1;
  font-family: "Unbounded", serif;
  font-weight: 200;
}
h1 {
  font-size: 36px;
  font-weight: 200;
}
h3 {
  font-size: 28px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 200;
}
h5 {
  font-size: 20px;
  font-weight: 400;
}
ul {
  padding: 0;
}
.txtcenter {
  text-align: center;
}
.PageContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 0px); /* Toute la hauteur de l'écran moins le padding */
  border: 0px solid black;
}
.sideMenu {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 225px; /* Largeur fixe pour éviter le shrink */
  padding: 20px;
  border-radius: 20px;
  border: 0px solid blue;
  background-color: white;
  height: calc(100vh - 40px); /* Hauteur totale de la page moins padding */
  position: fixed; /* On remplace sticky par fixed pour s'assurer que ça fonctionne */
  top: 20px; /* Respecte le padding haut */
  left: 20px; /* Ajuste l’alignement */
}
.PageContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 245px; /* Décale le contenu pour ne pas passer sous le menu */
  padding: 20px;
  border-radius: 20px;
  border: 0px solid blue;
  background-color: white;
  overflow-y: auto; /* Assure un scroll correct */
  gap: 20px;
}
.nav-lateral-menu {
  padding-top: 50px;
  text-align: left;
}
.btn-lat-menu {
  color: #31363F;
  text-decoration: none;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 100;
  border: none;
}
.btn-lat-menu:hover {
  //scale: 1.07;
  color: #718DA9;
  border: none;
}
.btn-lat-menu.active {
  //transform: scale(1.07);
  color: #718DA9;
  transition: transform 0.3s ease;
  box-shadow: none;
  outline: none;
  border: none;
}
a:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.nav-lateral-menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.nav-lateral-menu-footer-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 300;
}
.LightGrey {
  color: #31363F;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #31363F;
}
.link-text {
  color: #31363F;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
